

.FooterClass{
    width: 300px;
    height: 240px;
    margin: 10px 250px 0 75px;
    color: #657786;
    font-size: 12px;
}

.FooterClass a{
    color: #657786;
    text-decoration: none;
    word-wrap: break-word;
    text-align: inherit;
}