.NewtoTwitter_container {
    background: #fff;
    width: 300px;
    height: 175px;
}

.NewtoTwitter_title{
color: #14171a;
font-size: 21px;
font-weight: bold;
padding-top: 20px;
padding-left: 10px;
}

.NewtoTwitter_text{
    color: #657786;
    font-size: 14px;
    text-align: left;
    padding-left: 10px;
}

.SignUpButton{
    display: flex;
    justify-content: center;
}
