.left_container_RelatedSearches{
    background: #fff;
    height: 240px;
    margin: 10px 0 0 0;
}

.RelatedSearches_Heading{
    color: #14171a;
    font-size: 18px;
    font-weight: bold;
    padding-top: 3px;
    padding-left: 10px;
}

.left_container_RelatedSearches a{
    color: #1c94e0;
    text-decoration: none;
    word-wrap: break-word;
    font-weight: bold;
}


.RelatedSearches_options_container{
    padding-left: 10px;
}

.RelatedSearches_options{
    padding: 3px 0 10px 0;
    color: #1c94e0; 
}