.Results_Text{
    margin-right: 400px;
    margin-top: 15px;
    width: 530px;
    float: right;   
    height: 30px;  
    background-color: #f8fcff;;
    border: 1px solid #ccd6dd;
}

.Results_Text p{
    text-align: center;
    margin-top: 5px;
    color:#1da1f2;
    font-weight: normal;
    font-size: 14px;
}