
.left_container_search_filter {
    background: #fff;
    height: 50px;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.SearchFilter__text{
    color: #14171a;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    margin-left: 5px;
    padding-left: 10px;
}

.showButton{
    background: #fff;
    margin:0;
    border: none;
    padding-right: 130px;
    color: #1c94e0;
    margin-top: 10px;
}