.image4{
    position: absolute;
    vertical-align: top;
    width: 280px;

}

.Avatar1{
    position: absolute;
    margin-top: 120px;
    margin-left: 10px;

}

.AadharText{
    padding-left: 20px;
    color: #14171a;
    font-weight: normal;
    word-wrap: break-word;
    overflow: hidden;
    font-size: 14px;
    height: 5.5em;
}

.AadharLink1{
    padding-top: 180px;
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
}

.UIDAIText{
    position: absolute;
    padding-top: 220px;
    padding-left: 20px;
    font-weight: normal;
    color: #66757f;
    font-size: 14px;
    direction: ltr!important;
    text-align: left!important;
}

.AadharText{
    padding-top: 250px;
    padding-left: 20px;
}